# python cache
__pycache__/
*.pyc

# virtual environment
venv/
# .env

# Metadata

# Logs
logs/
*.log

# You can add more patterns here as needed
# For example, if you want to ignore database files, you can add:
# *.sqlite3